*.rsuser
*.suo
*.user
*.userosscache

obj
TEMControlServer/bin/*
!TEMControlServer/bin/Debug
TEMControlServer/bin/Debug/*
!TEMControlServer/bin/Debug/TEMControlWrapper.dll
!TEMControlServer/bin/Debug/TEMControlWrapper.pdb
!TEMControlServer/bin/Debug/Server.config