<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>

    <application>

      <service>

        <activated type="TEMControlWrapper.Microscope, TEMControlWrapper" />

      </service>

      <channels>

        <channel ref="http" port="8080" />

      </channels>

      <lifetime
        leaseTime="1D"
        sponsorshipTimeOut="30M"
        renewOnCallTime="10M"
        leaseManagerPollTime="30M"
      />

    </application>

  </system.runtime.remoting>
</configuration>