<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>

    <application>

      <service>

        <activated type="TEMControlWrapper.Microscope, TEMControlWrapper" />

      </service>

      <channels>

        <channel ref="http" port="8080" />

      </channels>

    </application>

  </system.runtime.remoting>
</configuration>